/* lesson3 Q2 */
p {
    color: red;
    font-size: 20px;
}
/* lesson3 Q3 */
* {
    margin: 0;
    padding: 0;
}
/* lesson3 Q4 */
li {
    list-style: none;
    color: green;
}
/* lesson3 Q5 */
.rule {
    list-style: upper-roman;
    color: navy;
}
/* lesson3 Q6 */
.first-rule {
    color: red;
}
.last-rule {
    color: green;
}
/* lesson3 Q7 */
.btn {
    border: none;
    padding: .25rem 1.25rem;
  }
  
  .link {
    text-decoration: none;
    color: navy;
  }
  /* Напиши свой код под этой строкой */
  .btn.active {
    color: red;
  }
  .link.active {
    font-weight: 700;
  }
/* lesson3 Q8 */
  .link:hover,
  .link:focus {
    opacity: 1;
  }
  /* lesson3 Q9 */
  [type] {
      color: white;
  }
  button[type="reset"] {
      color: green;
  }
  /* lesson3 Q10 */
  [href^="./"]  {
      color: red;
  }
  [href^="https"] {
      color: navy;
  }
  /* lesson3 Q11 */
  [href$="html"] {
    color: green;
  }
  [href$="css"] {
    color: orangered;
  }
  /* lesson3 Q12 */
  [href*="about"] {
color: green;
  }
  [href*="com"] {
    color: orangered;
  }
   /* lesson3 Q13 */
   #sending {
     background-color: teal;
     color: white;
   }
    /* lesson3 Q15 */
    div {
      background-color: navy !important;
      color: white !important;
    }
    .warning {
      background-color: white;
      color: red;
    }
    #inline {
      background-color: red;
      color: white;
    }
    /* lesson3 Q16 */
    ul {
      padding: 0;
      list-style: none;
    }
    .menu>.menu-item {
      display: inline-block;
      vertical-align: top;
    }
    /* lesson3 Q18 */
    
    .item-1 + .item {
      color: red;
    }
 /* lesson3 Q19 */
 .item-2 ~ .item {
  color: red;
}
/* lesson3 Q20 */

.headline.title{
  color: navy;
}
.title[title] {
  color: maroon;
}
/* lesson3 Q21 */
.cards {
  color: navy;
}
.last-of-type {
  color: firebrick;
}
/* lesson3 Q22 */
.list {
  padding-left: 0;
  list-style: none;
  color: green;
}
.list-link {
  color: green;
}
/* lesson3 Q23 */
/* in html  */
/* lesson3 Q24 */
.box {
  color:rgb(255, 255, 255);
 background-color: rgb(0, 0, 0);
 }
 .red {
 background-color: rgb(255, 0, 0);
 }
 
 .green {
 background-color: rgb(0, 255, 0);
 }
 .blue {
 background-color: rgb(0, 0, 255);
 }
/* lesson3 Q25 */
 .box {
color: #fff;
background-color: #000;
}

.red {
background-color: #f00;
}

.green {
  background-color: #0f0;
}

.blue {
  background-color: #00f;
}
/* lesson3 Q26 */
.lightness {
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0.5rem;
  text-align: center;
  border: 1px solid gold;
}
.lightness-100 {
  background-color: hsl(0, 100%, 100%);
}
.lightness-75 {
  background-color: hsl(0, 100%, 75%);
}
.lightness-50 {
  background-color: hsl(0, 100%, 50%);
}
.lightness-25 {
  background-color: hsl(0, 100%, 25%);
  color: hsl(0, 100%, 100%);
}
.lightness-0 {
  background-color: hsl(0, 100%, 0%);
  color: hsl(0, 100%, 100%);
}
/* lesson3 Q27 */
.container {
  padding: 1rem;
  background-color: navy;
}

.box {
  width: 200px;
  height: 50px;
  margin: 1rem auto;
  color: #fff;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  background-color: orchid;
  border: 4px solid gold;
}

.opacity {
  opacity: .5;
}

.opacity:hover,
.opacity:focus {
opacity: 1;
}

.transparent:hover,
.transparent:focus {
background-color: transparent;

}
/* lesson3 Q28 */
[data-color] {
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: #008;
  color: #fff;
  font-size: 1.5rem;
}

[data-color="rgba"]:hover {
  background-color: rgba(0, 0, 136, .5);
}


[data-color="hsla"]:hover {
  background-color: hsla(240, 100%, 27%, .5);
}


[data-color="hexa"]:hover {
  background-color: #00008a80;
}